* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.app {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-areas: 'filters main';
}

.filterBlock {
  grid-area: 'filters';
}

.mainBlock {
  grid-area: 'main';
}

.itemsContainer{
  display: flex;
  flex-wrap: wrap;
}
